# Ignore the virtual environment folder
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log

# Ignore any temporary files or directories
*.tmp
*.swp
*.swo
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db

build/
dist/